<footer class="text-light bg-primary">
  <div class="border-bottom border-light py-3 py-md-4">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-lg-6">
          <h3
          class="fw-light mb-1"
          data-aos="fade-right"
          data-aos-duration="500"
          data-aos-easing="ease-in"
          >
            現在訂閱，獲得課程優惠碼！
          </h3>
        </div>

        <div class="col-lg-4">
          <div class="row">
            <div class="col-md-6 col-lg-12">
              <div
                class="input-group"
                data-aos="fade-left"
                data-aos-duration="500"
                data-aos-easing="ease-in"
              >
                <input
                  type="email"
                  id="subscriptionEmail"
                  class="form-control text-primary"
                  placeholder="輸入您的電子信箱"
                  aria-label="輸入您的電子信箱"
                  aria-describedby="訂閱信箱"
                >
                <label
                  for="subscriptionEmail"
                  class="btn btn-primary-light
                    text-light fw-light
                    py-1 px-2"
                >
                  訂閱
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="py-4">
    <div class="container">
      <div class="d-flex justify-content-between">
        <h4
          class="h6"
          data-aos="fade-right"
          data-aos-duration="500"
          data-aos-easing="ease-in"
        >
          <a
            href="./index.html"
            class="navbar-brand logo logo-img-white
              d-block
              link-dark
              bg-size-cover
              bg-position-center
              bg-repeat-no-repeat"
          >
            DOYOGA
          </a>
        </h4>

        <ul
          class="d-flex"
          data-aos="fade-left"
          data-aos-duration="500"
          data-aos-easing="ease-in"
        >
          <li>
            <a
              href="#"
              class="d-block me-1"
            >
              <img src="./assets/images/icons/icon-fb-white.svg" alt="fb icon">
            </a>
          </li>
          <li>
            <a
              href="#"
              class="d-block me-1"
            >
              <img src="./assets/images/icons/icon-ig-white.svg" alt="ig icon" class="text-light">
            </a>
          </li>
          <li>
            <a
              href="#"
              class="d-block"
            >
              <img src="./assets/images/icons/icon-line-white.svg" alt="line icon">
            </a>
          </li>
        </ul>
      </div>

      <div class="row">
        <div class="col-md-3">
          <ul class="navbar-nav">
            <li
              class="nav-item"
              data-aos="fade-right"
              data-aos-duration="500"
              data-aos-easing="ease-in"
              data-aos-offset="0"
            >
              <a
                href="./courseDescription.html"
                class="nav-link link-light fw-lighter py-0.5"
              >
                課程介紹
              </a>
            </li>
            <li
              class="nav-item"
              data-aos="fade-right"
              data-aos-duration="600"
              data-aos-easing="ease-in"
              data-aos-offset="0"
            >
              <a
                href="./classroom.html"
                class="nav-link link-light fw-lighter py-0.5"
              >
                瑜珈空間
              </a>
            </li>
            <li
              class="nav-item"
              data-aos="fade-right"
              data-aos-duration="700"
              data-aos-easing="ease-in"
              data-aos-offset="0"
            >
              <a
                href="./curriculum.html"
                class="nav-link link-light fw-lighter pt-0.5 pb-1 pb-md-0"
              >
                當月課表
              </a>
            </li>
          </ul>
        </div>

        <div class="col-md-6 d-none d-md-flex justify-content-center align-items-end">
          <p
            class="fw-light"
            data-aos="fade"
            data-aos-duration="900"
            data-aos-easing="ease-in"
            data-aos-offset="0"
            deta-aso-delay="100"
          >
            © 2021. All Rights Reserved.
          </p>
        </div>

        <p
          class="fw-light d-md-none"
          data-aos="fade"
          data-aos-duration="900"
          data-aos-easing="ease-in"
          data-aos-offset="0"
          deta-aso-delay="100"
        >
          © 2021. All Rights Reserved.
        </p>
      </div>

    </div>
  </div>
</footer>