<ul class="position-fixed top-50 end-0 translate-middle
  d-none d-lg-block
  z-index-3"
>
  <li class="mb-7">
    <a
      href="#"
      class="js-link-icon js-tooltip-icons
        hover-animation-swing transition-duration-1
        d-block"
      data-bs-toggle="tooltip"
      data-bs-placement="left"
      title="Facebook 粉絲團"
    >
      <img src="./assets/images/icons/icon-fb.svg" alt="fb icon" class="user-select-none">
    </a>
  </li>
  <li class="mb-7">
    <a
      href="#"
      class="js-link-icon js-tooltip-icons
        hover-animation-swing transition-duration-1
        d-block"
      data-bs-toggle="tooltip"
      data-bs-placement="left"
      title="Instagram"
    >
      <img src="./assets/images/icons/icon-ig.svg" alt="ig icon">
    </a>
  </li>
  <li>
    <a
      href="#"
      class="js-link-icon js-tooltip-icons
        hover-animation-swing transition-duration-1
        d-block"
      data-bs-toggle="tooltip"
      data-bs-placement="left"
      title="@ Line 社群"
    >
      <img src="./assets/images/icons/icon-line.svg" alt="line icon">
    </a>
  </li>
</ul>