<ul class="position-fixed top-50 end-0 translate-middle
  d-none d-lg-block
  z-index-3"
>
  <li class="mb-1.75">
    <a
      href="#"
      class="d-block bg-light rounded-circle border border-2 border-light"
    >
      <img src="./assets/images/icons/icon-fb.svg" alt="fb icon" class="user-select-none">
    </a>
  </li>
  <li class="mb-1.75">
    <a
      href="#"
      class="d-block bg-light rounded-circle"
    >
      <img src="./assets/images/icons/icon-ig.svg" alt="ig icon">
    </a>
  </li>
  <li>
    <a
      href="#"
      class="d-block bg-light rounded-pill"
    >
      <img src="./assets/images/icons/icon-line.svg" alt="line icon">
    </a>
  </li>
</ul>