<div
  class="modal fade js-course-modal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered
    mw-md-x6.9 mw-lg-x9.2"
  >
    <div class="modal-content">
      <div class="modal-body
        py-4 py-md-9
        ps-md-3 px-lg-7
        pe-md-4"
      >
        <div class="row align-items-center">
          <div class="col-md-5 col-lg-6">
            <div class="ratio ratio-1x1 ratio-md-12x19 ratio-lg-1x1">
              <img
                src="./assets/images/course/course-11.jpg"
                alt="課程圖片"
                class="rounded-pill"
              >
            </div>
          </div>
          <div class="col-md-7 col-lg-6 pt-2 pt-md-0">
            <h3 class="fs-3">
              基礎 Basic
            </h3>
            <p class="mb-2">
              授課老師：Carol Tang
              <span class="badge rounded-pill
                fs-8 lh-base fw-lighter text-light
                bg-primary
                ms-1.5 px-2 py-0.5"
              >
                60 min
              </span>
            </p>

            <p class="mb-2">
              使用掛布懸掛在半空，進行哈達瑜珈體位法練習，藉由地心引力的重力原理，鍛鍊核心肌群，舒緩脊椎壓力。 訓練身體協調性，深層放鬆身體。 課堂裡老師會視同學狀況安排教導倒立動作，對於不敢嘗試倒立的同學來說，藉由掛布的支持與保護，加上老師細心指導，讓同學能更快掌握。
            </p>

            <a
              href="./reserve_step1_selectCourse.html"
              class="btn btn-secondary"
            >
              立即預約
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>