<div
  class="container"
  data-aos="fade"
  data-aos-duration="900"
  data-aos-easing="ease-in"
  data-aos-offset="0"
>
  <h1 class="h6">
    <a
      href="./index.html"
      class="navbar-brand logo logo-img
        d-block
        link-dark
        bg-size-cover
        bg-position-center
        bg-repeat-no-repeat"
    >
      DOYOGA
    </a>
  </h1>

  <button
    class="navbar-toggler py-0"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarTop"
    aria-controls="navbarTop"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >

    <span class="material-icons material-icons-round
      fs-1 lh-sm text-primary"
    >
      reorder
    </span>
  </button>

  <div
    class="collapse navbar-collapse"
    id="navbarTop"
  >
    <ul class="navbar-nav justify-content-center flex-grow-1">
      <li class="nav-item text-center">
        <a
          href="./courseDescription.html"
          class="nav-link fw-lighter"
        >
          課程介紹
        </a>
      </li>
      <li class="nav-item text-center">
        <a
          href="./classroom.html"
          class="nav-link fw-lighter"
        >
          瑜珈空間
        </a>
      </li>
      <li class="nav-item text-center">
        <a
          href="./curriculum.html"
          class="nav-link fw-lighter"
        >
          當月課表
        </a>
      </li>
    </ul>

    <ul class="d-flex justify-content-center py-1 p-lg-0">
      <li class="me-2">
        <a
          href="./reserve_step1-1_selectCourse.html"
          class="btn btn-outline-primary btn-lg py-1 px-2 fw-normal"
        >
          立即預約
        </a>
      </li>
      <li>
        <a
          href="./contactUs.html"
          class="btn btn-outline-primary btn-lg py-1 px-2 fw-normal"
        >
          聯絡我們
        </a>
      </li>
    </ul>
  </div>
</div>